<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>

<div th:each="person : ${persons}">
    <br/>
    <a th:text="${person.getId() + ', ' + person.getEmail()}"
       th:style="'font-weight: bold;'">person</a>
</div>
<hr/>


<div th:each="product : ${products}">
    <br/>
    <a th:text="${product.getProductName() + ' - ' + product.getProductPrice() + ' рублей. Размер: ' + product.getProductSize()}"
       th:style="'font-weight: bold;'">product</a>
</div>
<br/>
<form th:action="@{/product/new}">
    <input type="submit" value="Добавить продукт"/>
</form>
<br/>
<hr/>
<div th:each="car : ${cars}">
    <br/>
    <a th:text="${car.getCarNumber() + ' - ' + car.getCarCapacity() + ' лотков.'}"
       th:style="'font-weight: bold;'">car</a>
</div>
<br/>
<form th:action="@{/car/new}">
    <input type="submit" value="Добавить автомобиль"/>
</form>
<br/>
<hr/>

<br/>
<!--<form th:action="@{/partner/new}">-->
<!--    <input type="submit" value="Добавить торговую точку"/>-->
<!--</form>-->
<br/>

</body>
</html>