<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Create Order</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Create Order</h1>-->

<!--<form id="orderForm">-->
<!--    <div id="products">-->
<!--        <div th:each="product : ${allProducts}">-->
<!--            <label th:text="${product.productName}"></label>-->
<!--            <input type="number" name="selectedProducts[__${product.productId}__]" min="0">-->
<!--            <br>-->
<!--        </div>-->
<!--    </div>-->

<!--    <button type="button" onclick="submitOrder()">Create Order</button>-->
<!--</form>-->

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->

<!--<script th:inline="javascript">-->
<!--    /*<![CDATA[*/-->
<!--    var allProducts = /*[[${allProducts}]]*/;-->

<!--    function submitOrder() {-->
<!--        var form = document.getElementById("orderForm");-->
<!--        var formData = new FormData(form);-->

<!--        var selectedProducts = {};-->
<!--        var selectedProductInputs = document.querySelectorAll("input[name^='selectedProducts']");-->
<!--        selectedProductInputs.forEach(function(input) {-->
<!--            var productId = input.name.match(/\d+/)[0];-->
<!--            var quantity = input.value;-->
<!--            selectedProducts[productId] = quantity;-->
<!--        });-->

<!--        formData.delete("selectedProducts");-->
<!--        formData.append("partnerId", /*[[${partner.id}]]*/);-->

<!--        for (var productId in selectedProducts) {-->
<!--            if (selectedProducts.hasOwnProperty(productId)) {-->
<!--                formData.append("selectedProducts[" + productId + "]", selectedProducts[productId]);-->
<!--            }-->
<!--        }-->

<!--        fetch("/api/orders/{partnerId}", {-->
<!--            method: "POST",-->
<!--            body: formData-->
<!--        }).then(function(response) {-->
<!--            if (response.ok) {-->
<!--                alert("Order created successfully!");-->
<!--                window.location.href = "/createOrder";-->
<!--            } else {-->
<!--                alert("Failed to create order.");-->
<!--            }-->
<!--        }).catch(function(error) {-->
<!--            alert("An error occurred: " + error.message);-->
<!--        });-->
<!--    }-->
<!--    /*]]>*/-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
</head>
<body>
<h1>Create Order</h1>

<div id="products">
    <div th:each="product : ${allProducts}">
        <label th:text="${product.productName}"></label>
        <!--<input type="number" th:name="selectedProducts[__${product.productId}__]" min="0">-->
        <a th:href="@{/order/product/{id}/{productId}(productId=${product.getProductId()},id=${partner.getId()})}"
           th:text="${product.productName}"
           th:style="'font-weight: bold;'">product</a>
        <br>
    </div>
</div>
<hr/>
<h2>Ваша корзина:</h2>
<br>
<div th:if="${orderedProducts}">
    <div th:each="orderedProduct : ${orderedProducts}">
        <label th:text="${orderedProduct.getProductName() + ' ' + orderedProduct.getProductQuantity() +'шт. на ' + orderedProduct.getProductSum() + 'руб.'}"></label>
        <br>
    </div>
</div>
<br>
<h2>Подтвердите данные заказа:</h2>
<hr/>
<form th:method="POST" th:action="@{/order/createOrder/{id}(id=${partner.getId()})}" th:object="${order}">
    <label for="startTime">Укажите желаемое время доставки (6:00-15:00 часов):</label>
    <input type="datetime-local" th:field="*{deliveryTimeWindowStart}" id="startTime">
    <input type="submit" value="Подтвердить заказ!"/>
</form>
</body>
</html>