<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>All partners</title>
</head>
<body>

<div th:each="partner : ${partners}">
    <br/>
    <a th:href="@{/partner/show/{id}(id=${partner.getId()})}"
       th:text="${partner.getPartnerName() + ', ' + partner.getPartnerAddress()}"
       th:style="'font-weight: bold;'">partner</a>
</div>

<br/>
<hr/>

<br/>
<form th:action="@{/partner/new}">
    <input type="submit" value="Добавить торговую точку"/>
</form>
<br/>

</body>
</html>