<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New partner</title>
</head>
<body>

<h2>Добавить торговую точку</h2>

<form th:method="POST" th:action="@{/partner/new}" th:object="${partner}">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
    <br/>
    <label for="partnerName">Введите название торговой точки:</label>
    <input type="text" th:field="*{partnerName}" id="partnerName">
    <div style="color:red" th:if="${#fields.hasErrors('partnerName')}" th:errors="*{partnerName}">Name error</div>
    <br/>
    <br/>
    <label for="partnerName">Введите адрес торговой точки:</label>
    <input type="text" th:field="*{partnerAddress}" id="partnerAddress">
    <div style="color:red" th:if="${#fields.hasErrors('partnerAddress')}" th:errors="*{partnerAddress}">Name error</div>
    <br/>
    <br/>
    <label for="latitude">Введите координаты торговой точки (широту):</label>
    <input type="text" th:field="*{latitude}" id="latitude">
    <div style="color:red" th:if="${#fields.hasErrors('latitude')}" th:errors="*{latitude}">Latitude error</div>
    <br/>
    <br/>
    <label for="longitude">Введите координаты торговой точки (долготу):</label>
    <input type="text" th:field="*{longitude}" id="longitude">
    <div style="color:red" th:if="${#fields.hasErrors('longitude')}" th:errors="*{longitude}">Longitude error</div>
    <br/>

    <input type="submit" value="Добавить!"/>
    <br/>
</form>
</body>
</html>