<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New car</title>
</head>
<body>

<h2>Добавление автомобиля</h2>

<form th:method="POST" th:action="@{/car}" th:object="${car}">
    <br/>
    <label for="carNumber">Введите номер автомобиля:</label>
    <input type="text" th:field="*{carNumber}" id="carNumber">
    <div style="color:red" th:if="${#fields.hasErrors('carNumber')}" th:errors="*{carNumber}">Number error</div>
    <br/>
    <br/>
    <label for="carCapacity">Введите вместительность автомобиля(в лотках):</label>
    <input type="text" th:field="*{carCapacity}" id="carCapacity">
    <div style="color:red" th:if="${#fields.hasErrors('carCapacity')}" th:errors="*{carCapacity}">Capacity error</div>
    <br/>

    <input type="submit" value="Добавить!"/>
    <br/>
</form>
</body>
</html>